.avatar{
    display: flex;   
}
.imgAvatar{
    width: 40%;
}
.fede{ 
    width: 60%;    
    height: 100%;  
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:left;
    margin-right: 50px;
    padding-top: 100px;
    padding-left: 200px;
    gap: 10px;

}
.fede p{
    font-size: 1.2em; 
    font-weight: 500;
    width: 60%;
    text-align:left;
    padding-top: 30px;  
   
}
.fede h1{
    font-size: 4.5em; 
  
}
.fede h2{
    font-size: 2.5em;
    font-weight: 500;
}
@media screen and (max-width:1125px) {
    .fede{
      padding-right: 300px;
    }
    .fede p{
        display: flex;
        
}
@media screen and (max-width:880px) {
    .imgAvatar{
        width: 35%;
        height: 10%;  
    }
    .fede{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -80px;
          
    }
    .fede .h1{
        font-size: 2em;
    }
    .fede .h2{
        font-size: 1.2em;
    }
    .fede .p{
        font-size: 0.4em;
    }
    }
}
@media screen and (max-width:800px) {
   .avatar{
    width: 100%;
   }
    .imgAvatar{
      display: none; 
    }
    .fede{
        width: 100%;
    }
    .fede h1{
        width: 100%;
        font-size: 3em;
        display:flex; 
        text-align: center;
    }
    .fede h2{
        font-size: 2.5em;
        display:flex; 
        flex-direction: row;
    }
    .fede p{
        font-size: 2em;
        display:flex; 
        flex-direction: row;
    }
    }
    
